<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGk4Rpc9dsoHZhPpEe6Vq_UrQDM5cz2e0</string>
	<key>GCM_SENDER_ID</key>
	<string>105625220818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCountTrack</string>
	<key>PROJECT_ID</key>
	<string>bursali-otomotiv</string>
	<key>STORAGE_BUCKET</key>
	<string>bursali-otomotiv.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105625220818:ios:392934d81a585cf6f85f0b</string>
</dict>
</plist>